<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
        <p>
            I have over 6 years of experience as a software engineer, buildinging and maintaining
            complex system of systems applications. I have experiance as a full stack developer, but my main
            focus is in the designing and building of backend services.
        </p>
      </div>
    </div>
  </div>
</section>
