<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Projects</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
            <h3 style="margin-top:0">Software Projects</h3>
			<ul>
			  <li>
                  <a href="xxx">Hard Drive Backup Scripts</a>
                  <a href="https://github.com/ChattersonR/photo-dir-utils">Camera Download Utilities</a>
                 <a href="http://www.dnd.robertchatterson.com">Dungeons and Dragons character sheet</a> (<a href="https://github.com/ChattersonR/dnd-webservice">git</a>)
			  </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Other Projects</h3>
		  <ul>
  			<li>
                <a href="xxx">Photography</a>
                <a href="xxx">Cosplay</a>
    		</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
